<div class="container">
    <%= form_tag("/dashboard/list/", method: :get) do %>
    <label class="checkbox-inline"><input type="checkbox" value="0">まるぜろ</label>
    <label class="checkbox-inline"><input type="checkbox" value="1">まるいち</label>
    <label class="checkbox-inline"><input type="checkbox" value="2">まるに</label>
    <label class="checkbox-inline"><input type="checkbox" value="3">TIPS&TIPSinPocket</label>
    <button type="submit" class="btn btn-primary">Search</button>
    <% end %>
</div>


<table class="table table-hover">
    <div class="container">
    <thead>
        <tr>
            <th>ID</th>
            <th>参団総</th>
            <th>担当</th>
            <th>項目</th>
            <th>団体</th>
            <th>内容</th>
            <th>理由</th>
            <th>作成時間</th>
            <th>更新時間</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% @forms.each do |form| %>
    <tr>
        <th><%=form.id %></th>
        <th><%=form.name %></th>
        <th><%=form.charge %></th>
        <th><%=form.item %></th>
        <th><%=form.who %></th>
        <th><%=form.content %></th>
        <th><%=form.why %></th>
        <th><%=form.created_at.strftime('%Y/%m/%d %H:%M:%S') %></th>
        <th><%=form.updated_at.strftime('%Y/%m/%d %H:%M:%S') %></th>
        <th><a href="/form/edit/<%= form.id %>"><button type="button" class="btn btn-warning">編集</button></a></th>
        <th><%= button_to "削除", { :controller => "form", :action => "destroy", :id => form.id }, :confirm => "本当に削除しますか?", :method => :delete, :class => "btn btn-danger"%></th>
    </tr>
    <% end %>
    </tbody>
    </div>
</table>
